@font-face { font-family:'GuttmanVilna'; src:url('fonts/GuttmanVilna.woff2') format('woff2'); }
@font-face { font-family:'ShasBold'; src:url('fonts/ShasBold.woff2') format('woff2'); }
@font-face { font-family:'ShasDHBig'; src:url('fonts/ShasDHBig.woff2') format('woff2'); }
@font-face { font-family:'ShasFrankRuehlShas'; src:url('fonts/ShasFrankRuehlShas.woff2') format('woff2'); }
@font-face { font-family:'ShasFrankRuehlShasBold'; src:url('fonts/ShasFrankRuehlShasBold.woff2') format('woff2'); }
@font-face { font-family:'ShasGHodesShas'; src:url('fonts/ShasGHodesShas.woff2') format('woff2'); }
@font-face { font-family:'ShasGHodesShasBold'; src:url('fonts/ShasGHodesShasBold.woff2') format('woff2'); }
@font-face { font-family:'ShasGLogo1SH'; src:url('fonts/ShasGLogo1SH.woff2') format('woff2'); }
@font-face { font-family:'ShasMicrosoftSansSerif'; src:url('fonts/ShasMicrosoftSansSerif.woff2') format('woff2'); }
@font-face { font-family:'ShasMiriam'; src:url('fonts/ShasMiriam.woff2') format('woff2'); }
@font-face { font-family:'ShasOrnament'; src:url('fonts/ShasOrnament.woff2') format('woff2'); }
@font-face { font-family:'ShasRashi'; src:url('fonts/ShasRashi.woff2') format('woff2'); }
@font-face { font-family:'ShasRashiSm'; src:url('fonts/ShasRashiSm.woff2') format('woff2'); }
@font-face { font-family:'ShasRashircFixShas'; src:url('fonts/ShasRashircFixShas.woff2') format('woff2'); }
@font-face { font-family:'ShasSFNeomiRound3600Bold'; src:url('fonts/ShasSFNeomiRound3600Bold.woff2') format('woff2'); }
@font-face { font-family:'ShasSquare'; src:url('fonts/ShasSquare.woff2') format('woff2'); }
@font-face { font-family:'ShasSquareSm'; src:url('fonts/ShasSquareSm.woff2') format('woff2'); }
@font-face { font-family:'ShasTimesRoman'; src:url('fonts/ShasTimesRoman.woff2') format('woff2'); }
@font-face { font-family:'ShasTorahOr'; src:url('fonts/ShasTorahOr.woff2') format('woff2'); }
@font-face { font-family:'ShasVilna'; src:url('fonts/ShasVilna.woff2') format('woff2'); }
@font-face { font-family:'ShasVilnaBold'; src:url('fonts/ShasVilnaBold.woff2') format('woff2'); }
@font-face { font-family:'ShasVilnaLamedShas'; src:url('fonts/ShasVilnaLamedShas.woff2') format('woff2'); }
@font-face { font-family:'rashibd'; src:url('fonts/rashibd.woff2') format('woff2'); }
